<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class = 'allPictures'>
      <% @pictures.each do |picture| %>
        <div class = 'picture'>
          <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
          <p><%= picture.title %></br>
          <%= picture.artist %></p>
        </div>
      <% end %>
    </div>

  </body>
</html>
