<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <%= link_to("Back to Pictures", "/pictures") %>

    <p><%= @picture.title %>, <%= @picture.artist %></p>
    <%= image_tag(@picture.url) %>

  </body>
</html>
